.searchbar-container {
  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}

.form-control {
  background-color: #303030;
  border-radius: 24px;
  border-color: #5e5e5e;
}

.form-control::placeholder {
  color: #5e5e5e;
}

.form-control:focus {
  background-color: #303030;
  border-color: #025ced;
  box-shadow: 0 0 0 0;
}

.btn-outline-secondary {
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-outline-secondary:hover {
  background-color: #025ced;
  border-color: #025ced;
}

.svg-param {
  display: block;
  width: 20px;
  height: 20px;
  fill: currentColor;
}
