.carousel-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carousel-title {
  margin: 0;
  font-weight: 500;
  color: rgb(61, 219, 255);
  text-decoration: none;
}

.first-slide {
  width: 100%;
  background-color: purple;
  overflow: hidden;
  cursor: pointer;
}
