.swiper,
.tvswiper {
  position: relative;
  margin-bottom: 50px;
  overflow: hidden;
}

.swiper-title {
  margin: 0 auto 8px 15px;
  font-weight: 500;
  color: rgb(61, 219, 255);
  text-decoration: none;
}

.swiper-card-wrap {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100%;
  padding-bottom: 8px;
  min-width: 0;
  border-radius: 12px;
  background-color: transparent;
}

.swiper-img {
  width: 100%;
  margin-bottom: 8px;
  border-radius: 12px;
  box-shadow: -1px 5px 15px #0000001f;
}

.swiper-card-wrap > .swiper-card-title {
  margin-bottom: 0;
  text-align: center;
  font-size: 1em;
  color: aqua;
  overflow-wrap: break-word;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.swiper-btn-next,
.swiper-btn-prev,
.tvswiper-btn-next,
.tvswiper-btn-prev {
  position: absolute;
  top: 0;
  height: 100%;
  color: rgba(91, 219, 219, 0.427);
  background-color: transparent;
}

.swiper-btn-next:hover,
.swiper-btn-prev:hover,
.swiper-btn-next:active,
.swiper-btn-prev:active,
.tvswiper-btn-prev:hover,
.tvswiper-btn-next:hover,
.tvswiper-btn-prev:active,
.tvswiper-btn-next:active {
  color: #025ced;
}

.swiper-scrollbar-drag {
  background: rgba(0, 255, 255, 0.256);
  cursor: pointer;
}

.swiper-scrollbar-drag:hover,
.swiper-scrollbar-drag:active {
  background: rgba(0, 255, 255, 0.471);
}
