@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Noto+Serif+Vithkuqi:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');

@mixin mQ($px) {
  @media screen and (min-width: $px) {
    @content;
  }
}

.in-trend-wrap {
  display: flex;
  gap: 15px;
}

.content {
  width: 100%;
  color: #fff;
  position: relative;
  z-index: 2;
  margin-bottom: 3em;

  @include mQ(960px) {
    width: 40%;
    padding-left: 5em;
    margin-bottom: 0;
  }
}

.swiper-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  right: 0px;
  margin: 0 auto;

  @include mQ(960px) {
    width: 60%;
    right: -60px;
  }
}

.swiper {
  position: relative;
  width: 100%;
  z-index: 2;
}

.swiper-slide {
  width: 270px;

  background-color: purple;
  overflow: hidden;

  @media screen and (min-width: 1200px) {
    width: 300px;
  }
  display: flex;
  flex-direction: column;
  align-items: self-start;
  position: relative;
  border-radius: 12px;
  box-shadow: -1px 5px 15px #0000001f;
  text-align: center;

  span {
    display: inline-block;
    background: #9926e1;
    border-radius: 0 50px 50px 0;
    text-transform: capitalize;
    padding: 12px 20px;
    letter-spacing: 0.5px;
    font-weight: 500;
    position: absolute;
    top: 2em;
    left: 0;
    color: #fff;
  }

  h3 {
    color: #fff;
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 0.625rem;
    letter-spacing: 0.8px;
    position: relative;
    word-wrap: break-word;

    @include mQ(800px) {
      font-size: 1.8rem;
    }
  }

  .slide-content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -10px);
    width: 90%;
  }
}

.img-slider {
  height: auto;
}

.swiper-pagination {
  position: relative;
  bottom: -0.313rem;
  text-align: center;
  margin-top: 35px;
  width: auto;

  &-bullet {
    border-radius: 0;
    width: 1.5rem;
    height: 0.25rem;
    background: #fff;

    &-active {
      background: #fff;
    }
  }
}
